<%- include("PARTIALS/header") -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="text">Title</label>

    <input  class="form-control"type="text" name="postTitle" value="">
  </div>
  <div class="form-group">
    <label for="textarea">post</label>

    <textarea class="form-control" name="postBody" rows="5" cols="300"></textarea>
  </div>

<div>
    <button type="submit" class="btn btn-primary" name="button">publish</button>
</div>





</form>


<%- include("PARTIALS/footer")-%>
